:root {
    --color1: #F22294;
    --color2: #EE05F2;
    --color3: #BC04BF;
    --color4: #151426;
    --color5: #04D9C4;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
}
/* Main content */

.content {
    flex: 1 0 auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Calculator */

.calculator-container {
    margin-top: 2rem;
    padding: 2.5rem 1rem 1rem;
    width: 18rem;
    background-color: var(--color3);
    border: 0.5rem solid var(--color2);
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--color1);
    border-radius: 1rem;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    background-color: var(--color2);
    padding: 1rem;
    border-radius: 1rem;
}

/* Calculator screen */

.screen {
    background-color: var(--color4);
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 0.2rem solid var(--color5);
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--color2);
}

.top, .bottom {
    color: var(--color5);
    direction: rtl;
    padding-bottom: 0.5rem;
}

.top:hover , .bottom:hover {
    overflow: auto;
}

.top {
    height: 1.5rem;
}

.bottom {
    height: 2.5rem;
    font-size: 2rem;
}
.screen span {
    direction: ltr;
    white-space: nowrap;
    display: inline-block;
}

/* Calculator buttons */

.btn, .operation {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0.8rem 0;
    border-radius: 100%;
    border: 0.1rem solid transparent;
    cursor: pointer;
    outline: inherit;
    background-color: var(--color4);
    color: var(--color5);
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--color3);
}

.btn:hover, .operation:hover, #dot:hover {
    transform: translateY(-0.2rem);
    background-color: var(--color5);
    color: var(--color4);
    transition: 0.5s;
}

#equals {
    grid-column: span 2;
    border-radius: 2rem;
}

.pressed {
    transform: scale(1.1, 1.1);
    background-color: var(--color5);
    color: var(--color4);
    transition: 0.115s;
}

/* History */

.history {
    margin-bottom: 2rem;
    overflow: hidden;
    background: rgba(4, 217, 196, 0.11);
    color: var(--color5);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--color3);
    border: 0.2rem solid var(--color3);
    height: 28rem;
    width: 22rem;
}

.history:hover {
    overflow: auto;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
}

.history h1 {
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
}

.txt span {
    display: inline-block;
    white-space: nowrap;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
}

.footer h3 {
    color: var(--color5);
}

/* GitHub animation */
@keyframes githubAnimation {
    0%   {transform: scale(1, 1);}
    25%  {transform: scale(1.5, 0.8);}
    50%  {transform: scale(0.5, 1.1);}
    75%  {transform: scale(1, 0.8);}
    100% {transform: scale(1, 1);}
}

.github-logo:hover {
    position: relative;
    animation-name: githubAnimation;
    animation-duration: 2s;
}